.left-panel {
  width: 30%;
  padding: 20px;
  border-right: 1px solid #ddd;
  background-color: #f9f9f9;
  box-sizing: border-box; /* Ensure proper padding */
}

.left-panel h2 {
  font-size: 1.75rem; /* Slightly larger for readability */
  margin-bottom: 25px;
}

.category-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1.5rem; /* Increased gap for better spacing */
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;
}

.category-list li {
  padding: 12px 18px; /* Slightly larger padding for comfort */
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.category-list li:hover {
  background-color: #e9e9e9;
  transform: scale(1.05); /* Small scale on hover */
}

.category-list li.active-category {
  background-color: #d1ffd1; /* Softer green for active */
  font-weight: 600; /* Slightly bolder */
}

.pdf-subtypes {
  margin-top: 30px;
}

.pdf-subtypes h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.pdf-subtype {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0; /* Remove margin to align items in a grid */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 6px;
  border-radius: 15px;
  background-color: #fff; /* Adding background for better visibility */
  transition: transform 0.2s ease;
  flex: 1 0 21%; /* Flex property to create 4 items per row */
  max-width: 24%; /* Control the maximum width of each item */
}

.pdf-subtype:hover {
  transform: translateY(-5px); /* Lift effect on hover */
}

.pdf-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.individualDataTypes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .left-panel {
    width: 100%;
    padding: 15px;
  }

  .category-list {
    gap: 1rem;
  }

  .pdf-subtypes h3 {
    font-size: 1.25rem;
    margin-bottom: 15px;
  }

  .pdf-subtype {
    padding: 15px;
    max-width: 48%; /* Control the maximum width for 2 items per row */
  }

  .pdf-icon {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 480px) {
  .category-list {
    gap: 0.5rem;
  }

  .pdf-subtypes h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .pdf-subtype {
    padding: 10px;
    border-radius: 10px;
    max-width: 40%; /* Control the maximum width for 2 items per row */
    min-width: 140px;
  }

  .pdf-icon {
    width: 50px;
    height: 50px;
  }
}
